@model MasterViewModel
@{
    ViewData["Title"] = "Edit";
}



<div class="container">
    <div class="row">
        <div class="col-md-12 offset-1">


            <div class="col-md-6 align-content-end shadow-lg rounded pl-5 pr-5 pb-3 offset-1">
                <h4 class="card-header-pills">Edit Candidate Details</h4>
                <form asp-controller="MasterBR" asp-action="Edit" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>


                                            <input type="hidden" asp-for="EmployeeId" />
                                            <input type="hidden" asp-for="EmployeeName" />
                                            <input type="hidden" asp-for="CandidateId" />
                    

                    <div class="form-group">
                        <label asp-for="ProjectId" class="form-label">Project Name</label>
                        <br />
                        <select asp-for="ProjectId" class="dropdown btn btn-outline-dark">
                            <option value="">--Select--</option>
                            @foreach (var project in Model.ProjectViewModels)
                            {
                                <option value="@project.Id">@project.ProjectName</option>
                            }
                        </select>
                        <span asp-validation-for="ProjectId"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CandidateName">Candidate Name</label>
                        <input type="text" asp-for="CandidateName" placeholder="Enter Name" class="form-control" />
                        <span asp-validation-for="CandidateName" class="text-bg-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Int_Ext">Internal/External</label>
                        <select asp-for="Int_Ext" class="dropdown btn btn-outline-dark">
                            <option value="">--Select--</option>
                            <option value="INERNAL">INTERNAL</option>
                            <option value="EXTERNAL">EXTERNAL</option>
                        </select>
                        <span asp-validation-for="Int_Ext" class="text-bg-danger"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="Location">Location</label>
                        <select asp-for="Location" class="dropdown btn btn-outline-dark">
                            <option value="">--Select--</option>
                            <option value="HYDERABAD">HYDERABAD</option>
                            <option value="BANGALORE">BANGALORE</option>
                            <option value="VIZAG">VIZAG</option>
                            <option value="CHENNAI">CHENNAI</option>
                            <option value="NOIDA">NOIDA</option>
                        </select>
                        <span asp-validation-for="Location" class="text-bg-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Source">Source</label>
                        <select asp-for="Source" class="dropdown btn btn-outline-dark">
                            <option value="">--Select--</option>
                            <option value="Naukari">Naukari</option>
                            <option value="LinkedIn">LinkedIn</option>
                            <option value="TAG">TAG</option>
                            <option value="OTHER">OTHER</option>
                        </select>
                        <span asp-validation-for="Source" class="text-bg-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Grade">Grade</label>
                        <select asp-for="Grade" class="dropdown btn btn-outline-dark">
                            <option value="">--Select--</option>
                            <option value="E1">E1</option>
                            <option value="E2">E2</option>
                            <option value="E3">E3</option>
                            <option value="E4">E4</option>
                        </select>
                        <span asp-validation-for="Grade" class="text-bg-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SkillSetRequired" class="form-label">Skills Required:</label><br />
                        <input type="text" asp-for="SkillSetRequired" placeholder="Enter skills required" class="form-control" />
                        <span asp-validation-for="SkillSetRequired" class="text-bg-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="ScreeningDate">Screening Date</label>
                        <input type="date" asp-for="ScreeningDate" placeholder="Select screening date" class="form-control" />
                        <span asp-validation-for="ScreeningDate" class="text-bg-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ScreeningResult">Screening Result</label>
                        <input type="text" asp-for="ScreeningResult" placeholder="Enter Screening Result" class="form-control" />
                        <span asp-validation-for="ScreeningResult" class="text-bg-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="L1_Eval_Date">L1 Evaluation Date</label>
                        <input type="date" asp-for="L1_Eval_Date" placeholder="Select L1 EvaluationDate" class="form-control" />
                        <span asp-validation-for="L1_Eval_Date" class="text-bg-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="L1_Eval_Result">L1 Evaluation Result</label>
                        <input type="text" asp-for="L1_Eval_Result" placeholder="Enter L1 Evaluation Result" class="form-control" />
                        <span asp-validation-for="L1_Eval_Result" class="text-bg-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Client_Eval_Date">Client Evaluation Date</label>
                        <input type="date" asp-for="Client_Eval_Date" placeholder="Select Client EvaluationDate" class="form-control" />
                        <span asp-validation-for="Client_Eval_Date" class="text-bg-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Client_Eval_Result">Client Evaluation Result</label>
                        <input type="text" asp-for="Client_Eval_Result" placeholder="Enter client Evaluation Result" class="form-control" />
                        <span asp-validation-for="Client_Eval_Result" class="text-bg-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Manager_Eval_Date">Manager Evaluation Date</label>
                        <input type="date" asp-for="Manager_Eval_Date" placeholder="Select Manager EvaluationDate" class="form-control" />
                        <span asp-validation-for="Manager_Eval_Date" class="text-bg-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Manager_Eval_Result">Manager Evaluation Result</label>
                        <input type="text" asp-for="Manager_Eval_Result" placeholder="Enter Manager Evaluation Result" class="form-control" />
                        <span asp-validation-for="Manager_Eval_Result" class="text-bg-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Eval_Comments"> Evaluation Comments</label>
                            <textarea asp-for="Eval_Comments" class="form-control" rows="5" placeholder="Enter Evaluation Comments"></textarea>
                                           
                        <span asp-validation-for="Eval_Comments" class="text-bg-danger"></span>
                    </div>
                    <div class="form-group">
                       
                            <label asp-for="Status">Status</label>
                            <select asp-for="Status" class="dropdown btn btn-outline-dark">
                                <option value="">--Select--</option>
                                <option value="PENDING">PENDING</option>
                                <option value="SELECTED">SELECTED</option>
                                <option value="REJECTED">REJECTED</option>
                            </select>
                            <span asp-validation-for="Status" class="text-bg-danger"></span>
                        </div>                        

                    <br />

                    <div class="form-group">
                        @*<input type="submit" class="=btn btn-dark float-right" value="Add Property" />*@
                        <button type="submit" class="btn btn-dark" value="Update Candidate Details">Update Candidate Details</button>
                        <a asp-controller="MasterBR" asp-action="Index" class="text-start btn btn-warning">Cancel</a>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>


