
@{
    ViewData["Title"] = "Index";
}
<div class="container">

<h1>404 Error</h1>
<h3>Please login with valid Credentials <span> <a asp-controller="Accounts" asp-action="Login">Login</a> </span> </h3>


</div>