
@{
    ViewData["Title"] = "ProjectDeleteError";
}

<h1>ProjectDeleteError</h1>

<div class="container">

    
    <h3>Cannot delete this project , because it has some domains,please delete that inorder delete this project 
        
        <span> <a asp-controller="ProjectBr" asp-action="Index" >Go Back</a> 
            </span> </h3>


</div>