<div class="row" style="height:90px"></div>
<div class="row">
<div class="col-4"></div>
<div class=" col-4 shadow p-3 mb-5 bg-white rounded" style="height:500px">
    
    <div class="d-flex justify-content-center align-items-center bg-gradient" style="height:100%">
         <h3>
                <a class="btn btn-primary m-5 p-3" asp-controller="MasterBR" asp-action="Index">Go to Evaluation Page</a>
        </h3>
        <h3>
            <a class="btn btn-primary m-5 p-3" asp-controller="ProjectBr" asp-action="AllBRs">Go to Master BR Page</a>
        </h3>
            <i class="fa-solid fa-arrow-turn-up"></i>
    </div>
        
   
</div>

</div>
