<h3>
   
    <a class="btn btn-primary" asp-controller="ProjectBr" asp-action="Index">Go to Project BR Page</a>
   
</h3>
<h3>

    <a class="btn btn-primary" asp-controller="MasterBR" asp-action="Index">Go to Master BR Page</a>

</h3>