@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div class="container">
    <div class="col-md-4"></div>
<form asp-controller="Accounts" asp-action="Login" method="post">

    <div class="row ">
        <div class="col-md-6">
            <div asp-validation-summary="All" class="text-danger"></div>
          
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input type="text" asp-for="Email" class="form-control" style="width:326px" />
                    <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input type="password" asp-for="Password" class="form-control" style="width:326px" />
                    <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <div class="mt-3 d-grid">

                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </div>
    </div>
    <div>
       Don't you have an account?  <a asp-controller="Accounts" asp-action="SignUp">SignUp </a>
    </div>

</form>
</div>
@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}

